# Django settings
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
DEBUG=True
DJANGO_SECRET_KEY=<generate-a-secure-key> 
 # Database
DB_HOST=localhost
DB_NAME=template_service
DB_PASSWORD=<your-password>
DB_PORT=5432
DB_USER=postgres
# Application
PORT=3002
